.radio {
    margin-right: 11px;
    height: 20px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    height: 20px;
    align-items: center;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
}

.span{
    display: flex;
    align-items: center;
}
